<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
<div id="app-menu">
	<div class="navbar navbar-inverse">
		<div class="navbar-inner" style="padding-left:0;">
			<div class="container" style="width:auto;">
				<img class="pull-left" ng-src="{{'resources-webapp-'+appVersion+'/img/sharetask-menu-logo.png'}}" width="40" height="40" />
				<span class="brand">ShareTa.sk</span>
				<ul class="nav">
					<li ng-class="{'active':currentPage == 'tasks'}"><a href="#/tasks"><i class="icon-list icon-white"></i> {{'_Tasks_' | i18n}}</a></li>
				</ul>
				<ul class="nav pull-right">
					<li ng-class="{'active':currentPage == 'admin'}"><a href="#/admin"><i class="icon-wrench icon-white"></i> {{'_Administration_' | i18n}}</a></li>
					<li id="fat-menu" class="dropdown" ng-class="{'active':currentPage == 'user'}">
						<a id="dropUser" role="button" class="dropdown-toggle cursor-pointer" data-toggle="dropdown"><i class="icon-user icon-white"></i> {{loggedUser.name}} {{loggedUser.surName}} <b class="caret"></b></a>
						<ul class="dropdown-menu" role="menu" aria-labelledby="dropUser">
							<li><a role="menuitem" tabindex="-1" href="#/user">{{'_MySettings_' | i18n}}</a></li>
							<li class="divider"></li>
							<li><a class="cursor-pointer" role="menuitem" tabindex="-1" ng-click="logout()"><i class="icon-off"></i> {{'_Logout_' | i18n}}</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>