/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.row-full {width:100%;*zoom:1;}
.row-full:before,.row-full:after {display:table;line-height:0;content:"";}
.row-full:after {clear:both;}
.row-full [class*="span"] {display:block;float:left;width:100%;min-height:30px;margin-left:0;*margin-left:0;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.row-full [class*="span"]:first-child  {margin-left:0;}
.row-full .controls-row [class*="span"] + [class*="span"] {margin-left:0;}
.row-full .span12 {width:100%;*width:100%;}
.row-full .span11 {width:91.66666666666667%;*width:91.66666666666667%;}
.row-full .span10 {width:83.33333333333333%;*width:83.33333333333333%;}
.row-full .span9 {width:75%;*width:75%;}
.row-full .span8 {width:66.66666666666667%;*width:66.66666666666667%;}
.row-full .span7 {width:58.33333333333333%;*width:58.33333333333333%;}
.row-full .span6 {width:50%;*width:50%;}
.row-full .span5 {width:41.66666666666667%;*width:41.66666666666667%;}
.row-full .span4 {width:33.33333333333333%;*width:33.33333333333333%;}
.row-full .span3 {width:25%;*width:25%;}
.row-full .span2 {width:16.66666666666667%;*width:16.66666666666667%;}
.row-full .span1 {width:8.33333333333333%;*width:8.33333333333333%;}
.row-full .span0 {width:0;*width:0;display:none;}

h1,h2,h3,h4,h5,h6 {margin:5px 0;line-height:0;}

.navbar {margin-bottom:0;}
/*.navbar-inner {-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}*/
.navbar-inverse .navbar-inner {background:#1763A6;}
.navbar-inverse .nav > li > a {font-weight:bold;color:#ddd;}
.navbar-inverse .nav > li.active > a {color:#fff;}
.accordion .accordion-body  {background:none;}
.accordion .accordion-body hr  {border:none;border-top:1px solid #ccc;margin:10px 0 15px 0;}
.accordion .accordion-heading {background:#f5f5f5;}
.navbar .nav > li > a {padding:7px 15px;}
.navbar .brand {padding:7px 20px;font-size:18px;font-weight:500;}

.dl-horizontal dt {width:30%;}
.dl-horizontal dd {margin-left:35%;}

.tooltip {font-size:13px;}
.tooltip.in {opacity: 0.9;filter:alpha(opacity=90);}
.tooltip-inner {color:#fff;background:#535353;}
.tooltip.top .tooltip-arrow {border-top-color:#535353;}

.tab-content {overflow:visible;}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  /*color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;*/
}

.progress.big {height:30px;margin-bottom:30px;}
.progress.big .bar {padding:5px;font-size:14px;}
.progress.big .bar-next {
  color:#444;
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #ddd, #ccc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#ccc));
  background-image: -webkit-linear-gradient(top, #ddd, #ccc);
  background-image: -o-linear-gradient(top, #ddd, #ccc);
  background-image: linear-gradient(to bottom, #ddd, #ccc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.carousel {margin-bottom:0;}

.label.small {line-height:10px;vertical-align:middle;}

.nav-list > li > a {color:#000;}
.nav > li > a:hover,.nav > li > a:focus {background-color:#ddd;}
.nav-list > .active > a,.nav-list > .active > a:hover,.nav-list > .active > a:focus {color:#000;text-shadow:none;font-weight:bold;background-color:#FAD400;}


/* application classes */

.navbar-inner  {min-height:0;background:#000;}
.navbar-inner.fix {/*height:50px;*/}
.navbar-inner.thin {min-height:0px;padding:3px 10px;}
.navbar-inner.thick {min-height:0px;padding:5px;}
.navbar-inner.thick strong {font-size:15px;}
/*.navbar-inner.inline {border:none;border-bottom:1px solid #ccc;}*/
.navbar-inner.inline {border:none;margin-bottom:3px;color:#000;}
.navbar-inner.inline strong {font-size:15px;font-weight:normal;}
.navbar-inner.inline:hover {background:#eee;}
.navbar-inner.transparent {background:none;}
.navbar-inner.light {background:#ffffff;}
.navbar-inner.dark {background:#f5f5f5;}
.navbar-inner.selected {background:#1763A6;color:#fff;}
.navbar-inner.selected:hover {background:#1763A6;color:#fff;}

/*
.label {text-shadow:none;min-width:1px;min-height:1px;padding:3px;margin-right:5px;}
.badge {margin-right:5px;margin-bottom:5px;padding:0 5px;}
.label-light,.badge-light {background-color:#fff;color:#000;}
.label a {text-decoration:none;color:#fff;text-shadow:none;}
*/

.label {min-height:50px;}


.tag {color:#000;display:inline-block;margin-right:5px;margin-bottom:5px;z-index:10;}
.tag .text {background:#fff;border:1px solid #ccc;display:inline-block;padding:0 7px;line-height:20px;font-size:11px;}
.tag .remove {background:#ccc;border:1px solid #ccc;display:inline-block;padding:0 5px;line-height:20px;font-size:11px;}
.tag .selected {background:#63A617;border:1px solid #63A617;color:#fff;}
.priority-low {background:#999;}
.priority-medium {background:#D9A86C;}
.priority-high {background:#D94436;}

.hidden {display:none;}

.panel {
  border:1px solid #ccc;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  margin-bottom:15px;
}
.panel .head {
  background:#eee;
  padding:10px;
  font-weight:bold;
  text-align:center;
}
.panel .body{padding:15px 7px 0 7px;}
.panel .body.fixed {height:300px;overflow-y:auto;}
.panel .body.fixed.small {height:150px;}

.cursor-pointer {cursor:pointer;}
.btn {background:#ccc;color:#000;}
.btn:hover {background:#aaa;color:#fff;}
.btn-inverse {background:#1763A6;color:#fff;}
.btn-inverse:hover {background:#000;}

.tile {background:#aaa;margin-bottom:5px;color:#fff;cursor:pointer;}
.tile.active {background:#1763A6;font-weight:bold;}
.tile .header {height:40px;}
.tile .footer {padding:0 5px;line-height:25px;/*background:#29211C;*/}

.user-panels:before,.user-panels:after {display:table;line-height:0;content:"";}
.user-panels:after {clear:both;}
.user-panel {float:left;margin:5px;padding:10px;background:#eaeaea;}


/*.tile.active span {background:#379F15;}*/

body {margin:0;padding:0;-webkit-text-size-adjust:100%;}

#app-menu {height:36px;top:0;width:100%;overflow:visible;position:absolute;}
#workspace-menu {height:36px;top:36px;width:100%;overflow:visible;position:absolute;}

/*#appHeader {height:72px;top:0;width:100%;overflow:visible;position:absolute;}*/
#appFooter {height:40px;bottom:0;width:100%;overflow:visible;position:absolute;background:#9954bb;}
.appFooterContent {color:#fff;padding-top:10px;}

.panel-task-filter {top:72px;bottom:0;left:10px;width:130px;overflow:visible;position:absolute;background:#eee;}
.panel-task-filter-inner {height:100%;border-right:3px solid #ddd;}
.panel-task-filter-content {padding:5px;}
.panel-task-filter.hide2 {width:0;}

.panel-task-divider {top:72px;bottom:0;left:0;width:10px;overflow:visible;position:absolute;background:#ccc;}
.panel-task-divider:hover {background:#98C7F0;}
/*.panel-task-divider:hover .caret-left, .panel-task-divider:hover .caret-right {border-right: 6px solid #fff;}*/
.panel-task-divider-inner {height:100%;cursor:pointer;}
.panel-task-divider.left {left:0;}

.panel-task-list {top:72px;bottom:0;left:140px;right:45%;overflow:visible;position:absolute;background:#fff;}
.panel-task-list-inner {height:100%;}
.panel-task-list.large {left:10px;}
.panel-task-list .header {height:80px;top:0px;width:100%;}
.panel-task-list .header.large {height:120px;}
.panel-task-list .header .queue-name {height:40px;}
.queue-name .title {/*text-transform:uppercase;*/font-size:23px;/*background:#0079F2;color:#fff;*/line-height:33px;/*padding:0 15px;*//*font-weight:bold;*/}
.panel-task-list .header .queue-name-inner {padding:5px;}
.panel-task-list .header .queue-controls {height:40px;}
.panel-task-list .header .queue-controls-inner {padding:5px;}
.panel-task-list .header .new-task-simple {height:40px;}
.new-task-simple-inner {padding:5px;}

.panel-task-detail {top:72px;bottom:0;width:45%;right:0;overflow:visible;position:absolute;background:#fff;}
.panel-task-detail-inner {height:100%;border-left:3px solid #ddd;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.panel-task-detail-content {padding:0 5px;}

.task-detail-action {padding:5px 0;border-bottom:1px solid #ddd;}
.task-detail-action-confirm {margin:5px 0;padding:5px;border:1px solid #ddd;background:#fff;}

.task-list {width:100%;top:80px;bottom:0;overflow:visible;position:absolute;}
.task-list.small {top:125px;}
.task-list-inner {height:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}

.st-checkbox {border:solid 2px #aaa;background:#fff;width:18px;height:18px;text-align:center;line-height:18px;}
.st-checkbox.checked {background:#1763A6;border:solid 2px #1763A6;}
.st-checkbox.selected {border:solid 2px #1763A6;}
.st-checkbox.selected.checked {background:#1763A6;border:solid 2px #fff;}

.caret-left {display:inline-block;width:0;height:0;vertical-align:top;content:"";border-right: 6px solid #1763A6;border-top:6px solid transparent;border-bottom:6px solid transparent;margin-top:5px;margin-left:2px;}
.caret-right {display:inline-block;width:0;height:0;vertical-align:top;content:"";border-left: 6px solid #1763A6;border-top:6px solid transparent;border-bottom:6px solid transparent;margin-top:5px;margin-left:2px;}

.notice {margin:10px 0;margin-right:10%;padding:10px;background:#1763A6;color:#fff;}
.notice.author {margin-left:10%;margin-right:0;}
.notice .header {padding-bottom:5px;}
.notice .header:after {clear:both;}
.notice .body {font-size:90%;}

.adminLeftPane {top:36px;bottom:0;width:140px;overflow:visible;position:absolute;background:#f5f5f5;}
.adminLeftPaneContent {height:100%;border-right:3px solid #ddd;overflow-y:auto;-webkit-overflow-scrolling:touch;}

.adminMainPane {top:36px;bottom:0;left:140px;right:0;overflow:visible;position:absolute;background:#fff;}
.adminMainPaneContent {height:100%;overflow-y:auto;-webkit-overflow-scrolling:touch;}
