/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {display:none !important;}

* {text-shadow:none;}

.row-full {width:100%;*zoom:1;}
.row-full:before,.row-full:after {display:table;line-height:0;content:"";}
.row-full:after {clear:both;}
.row-full [class*="span"] {display:block;float:left;width:100%;min-height:30px;margin-left:0;*margin-left:0;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
}
.row-full [class*="span"]:first-child  {margin-left:0;}
.row-full .controls-row [class*="span"] + [class*="span"] {margin-left:0;}
.row-full .span12 {width:100%;*width:100%;}
.row-full .span11 {width:91.66666666666667%;*width:91.66666666666667%;}
.row-full .span10 {width:83.33333333333333%;*width:83.33333333333333%;}
.row-full .span9 {width:75%;*width:75%;}
.row-full .span8 {width:66.66666666666667%;*width:66.66666666666667%;}
.row-full .span7 {width:58.33333333333333%;*width:58.33333333333333%;}
.row-full .span6 {width:50%;*width:50%;}
.row-full .span5 {width:41.66666666666667%;*width:41.66666666666667%;}
.row-full .span4 {width:33.33333333333333%;*width:33.33333333333333%;}
.row-full .span3 {width:25%;*width:25%;}
.row-full .span2 {width:16.66666666666667%;*width:16.66666666666667%;}
.row-full .span1 {width:8.33333333333333%;*width:8.33333333333333%;}
.row-full .span0 {width:0;*width:0;display:none;}

h1,h2 {color:#FF5A00;}
h3,h4,h5,h6 {color:#333;}
/*h1,h2,h3,h4,h5,h6 {margin:5px 0;line-height:0;}*/
h4 {font-size:135%;/*font-weight:bold;*/}
h1{font-size:33.5px}

.navbar {margin-bottom:0;}
.navbar .nav > li > a:hover {background:rgba(255,255,255,0.4);color:#fff;}
.navbar .nav > li.active > a {background:rgba(255,255,255,0.4);font-weight:bold;}
.navbar-inverse .navbar-inner {background:#FF5A00;}
.navbar-inverse .nav > li > a:hover {background:rgba(0,0,0,0.2);}
.navbar-inverse .nav > li.active > a {background:rgba(0,0,0,0.2);font-weight:bold;}
.navbar .nav > li > a {padding:7px 15px;}
.navbar .brand {padding:7px 20px;font-size:18px;font-weight:500;}
.navbar .brand.small {font-size:15px;}
#app-menu .navbar .nav > li > a {padding:9px 15px;}
#app-menu .navbar .brand {padding:9px 20px;font-size:20px;font-weight:500;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {background:#FF5A00;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {background:#FF5A00;}
.nav .dropdown-toggle .caret {border-bottom-color:#FF5A00;border-top-color:#FF5A00;}
.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {border-bottom-color:#FF5A00;border-top-color:#FF5A00;}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {background-color:#FF5A00;}
.nav .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover {color:#FF5A00;}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {color:#565656;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(255, 90, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 90, 0, 0.6);
    outline: 0 none;
}

a {color:#FF5A00;}
a:hover, a:focus {color:#565656;}

.tab-content {overflow:visible;}

.nav-list > li > a {color:#000;}
.nav > li > a:hover,.nav > li > a:focus {background-color:#ddd;}
.nav-list > .active > a,.nav-list > .active > a:hover,.nav-list > .active > a:focus {color:#000;text-shadow:none;font-weight:bold;background-color:#FAD400;}
/*
.task-list {margin-top:10px;}
.task-list-item {}
.task-list-item:hover {background:#eee;}
.task-list-item.selected {background:#ddd;}
.task-list-item-inner {padding:7px 15px 0 15px;margin-bottom:3px;}
.task-list-item strong {font-size:115%;}
.task-list-item .text {text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
*/

.label {min-height:50px;}

.hidden {display:none;}
.show {display:block;}

.cursor-pointer {cursor:pointer;}
.btn {background:#ccc;color:#000;}
.btn:hover {background:#999;color:#fff;}
.btn-inverse {background:#FF5A00;color:#fff;}
.btn-inverse:hover {background:#000;color:#fff}

body {margin:0;padding:0;-webkit-text-size-adjust:100%;background:#181818;}

#app-menu {height:40px;width:100%;background:#FF5A00;overflow:visible;}
#footer {padding:15px;background:#181818;color:#fff;font-size:90%;}

.panel-full {background:#fff;}
.panel-full-inside {}

form {margin:0;padding:0;}

.panel-head {height:250px;background:url("../img/bg-cityscapes.jpg") top right no-repeat;background-size:cover;}
.panel-body {background:#fff;}
.panel-body .container {background:#fff;padding:20px 0 70px 0;}
.panel-body h2 {color:#FF5A00;}

.row.odd {background:#eee;}
.row .container {background:none;padding:20px 0;font-size:120%;}
.row .container.large {padding:40px 0;}
.row li {padding:7px 0;}

.head {width:100%;height:250px;background:rgba(0,0,0,0.7);}
.head td {vertical-align:top;}
.head .login {width:100%;background:rgba(0,0,0,0.7);padding:20px 15px;color:#fff;}
.head .login h4 {color:#fff;}
.head .title {text-align:center;padding:30px 10px;}
.head .title strong {color:#fff;background:rgba(0,0,0,0.9);font-size:240%;line-height:180%;font-weight:normal;}

.no-margins {margin:0;}
.alert a {color:#fff;text-decoration:underline;}
.alert a:hover {color:#000;}

.headline-panels:before,.headline-panels:after {display:table;line-height:0;content:"";}
.headline-panels:after {clear:both;}
.headline-panel {float:left;margin:0 20px 20px 0;background:rgba(0,0,0,0.8);padding:15px;color:#fff;}
.headline-panel  .header {font-size:220%;line-height:180%;font-weight:normal;}
.headline-panel  .buttons {margin-top:10px;padding-top:5px;border-top:1px solid #ccc;text-align:right;}

.carousel {height:100%;}
.carousel-inner {height:100%;}
.carousel .item {padding-top:50px;text-align:center;}
.carousel .item h1,h2 {color:#fff;}

.icon-11x{font-size:11em;}