<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
		<div ng-controller="AuthCtrl">
			<!-- application menu -->
			<web-menu></web-menu>
			<div class="panel-full">
				<div class="panel-full-inside">
					<div class="brand-img">
						<div class="row">
							<div class="span8">
								text
							</div>
							<div class="span4">
								<div class="brand-login">
									<h4>Don't have ShareTa.sk ID?</h4><br />
									<a href="#/register" class="btn btn-inverse">Create new account</a><br />
									<br /><br />
									<h4>Sign in to ShareTa.sk</h4><br />
									<form name="formLogin" novalidate class="css-form">
										<div class="alert alert-error" ng-class="{'hidden':loginData.result == 1 || loginData.result == 0}">
											<a class="close" ng-click="loginData.result = 0">&times;</a>
											<strong>Error</strong> Bad user name or password.
										</div>
										<input type="text" placeholder="username" ng-model="user.username" ui-keypress="{enter:'login()'}" required /><br />
										<input type="password" placeholder="password" ng-model="user.password" ui-keypress="{enter:'login()'}" required /><br />
										<button class="btn btn-inverse" ng-click="login()" ng-disabled="formLogin.$invalid || loginData.processing">Login<span ng-show="loginData.processing"> processing...</span></button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>