<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
		<!-- user settings -->
		<div ng-controller="UserCtrl">
			<!-- application menu -->
			<app-menu></app-menu>
			<help ng-show="showHelp"></help>
			<!-- user profile -->
			<div class="panel-full">
				<div class="panel-full-inside">
					<div style="padding:10px 20px;">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#userProfile" data-toggle="tab"><i class="icon-user"></i> {{'_Profile_' | i18n}}</a></li>
							<li><a href="#userSettings" data-toggle="tab"><i class="icon-cog"></i> {{'_Settings_' | i18n}}</a></li>
						</ul>
						<div class="tabbable">
							<div class="tab-content">
								<!-- user profile update form -->
								<div class="tab-pane active" id="userProfile">
									<div class="columns">
										<div class="column profile">
											<a href="http://www.gravatar.com/emails" title="{{'_MsgChangeAvatar_' | i18n}}" target="blank"><img ng-src="http://www.gravatar.com/avatar/{{usernameHash}}.jpg?s=150&d={{'http://www.hip-hop.cz/user-large.png' | urlEncode}}" /></a>
										</div>
										<div class="column full">
											<form name="formUserUpdate" novalidate class="css-form">
												<legend>{{loggedUser.name}} {{loggedUser.surName}}</legend>
												<div class="alert alert-success" ng-class="{'hidden':updateUserProfile.result == -1 || updateUserProfile.result == 0}">
													<a class="close" ng-click="updateUserProfile.result = 0">&times;</a>
													<strong>{{'_Success_' | i18n}}</strong> {{'_ResultUserProfileUpdateOk_' | i18n}}
												</div>
												<div class="alert alert-error" ng-class="{'hidden':updateUserProfile.result == 1 || updateUserProfile.result == 0}">
													<a class="close" ng-click="updateUserProfile.result = 0">&times;</a>
													<strong>{{'_Error_' | i18n}}</strong> {{'_ResultUserProfileUpdateError_' | i18n}}
												</div>
												<label>{{'_FirstName_' | i18n}}</label>
												<input class="span5" type="text" placeholder="{{'_PlaceholderFirstName_' | i18n}}" ng-model="loggedUser.name" required /><br />
												<label>{{'_LastName_' | i18n}}</label>
												<input class="span5" type="text" placeholder="{{'_PlaceholderLastName_' | i18n}}" ng-model="loggedUser.surName" required /><br />
												<label>{{'_Mail_' | i18n}}</label>
												<input class="span5" type="text" placeholder="{{'_PlaceholderMail_' | i18n}}" ng-model="loggedUser.username" readonly="readonly" required /><br />
												<br />
												<label>{{'_NewPassword_' | i18n}}</label>
												<input class="span5" type="text" placeholder="{{'_PlaceholderNewPassword_' | i18n}}" ng-model="loggedUser.newPassword1" /><br />
												<label>{{'_NewPasswordCheck_' | i18n}}</label>
												<input class="span5" type="text" placeholder="{{'_PlaceholderNewPasswordCheck_' | i18n}}" ng-model="loggedUser.newPassword2" /><br />
												<button class="btn btn-inverse" ng-click="update()" ng-disabled="formUserUpdate.$invalid || loggedUser.newPassword1 != loggedUser.newPassword2 || updateUserProfile.processing"><i class="icon-save"></i> {{'_Save_' | i18n}}<span ng-show="updateUserProfile.processing"> {{'_Processing_' | i18n}}</span></button>
											</form>
										</div>
									</div>
								</div>
								<!-- user settings -->
								<div class="tab-pane" id="userSettings">
									<form name="formUserSettings" novalidate class="css-form">
										<legend>{{'_UserSettings_' | i18n}}</legend>
										{{'_NoSettingsAvailable_' | i18n}}
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>