<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
		<div ng-controller="AdminCtrl" ng-cloak>
			<!-- application menu -->
			<div id="app-menu">
				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<div class="container" style="width:auto;">
							<span class="brand">ShareTa.sk</span>
							<ul class="nav">
								<li class="active"><a id="menuItemTasks" href="#/tasks"><i class="icon-tasks icon-white"></i> <span id="textTasks">Tasks</span></a></li>
							</ul>
							<ul class="nav pull-right">
								<li><a id="menuItemAdministration" href="#/admin"><i class="icon-wrench icon-white"></i> <span id="textAdministration">Administration</span></a></li>
								<li id="fat-menu" class="dropdown">
									<a id="dropUser" role="button" class="dropdown-toggle cursor-pointer" data-toggle="dropdown"><i class="icon-user icon-white"></i> <span id="userName"></span> <b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropUser">
										<li><a role="menuitem" tabindex="-1" href="#/user"><span id="textMySettings">My settings</span></a></li>
										<li class="divider"></li>
										<li><a class="cursor-pointer" role="menuitem" tabindex="-1" ng-click="logout()"><i class="icon-off"></i> Logout</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- administration -->
			<div id="adminLeftPane" class="adminLeftPane">
				<div class="adminLeftPaneContent">
					<div style="padding:5px">
						<a id="addWorkspaceSubmit" class="btn btn-inverse" href="#"><span id="save"><i class="icon-plus icon-white"></i> Add</span></a>
						<br /><br />
						<div class="tile" ng-repeat="workspace in workspaces" ng-class="{'active':workspace.id==selectedWorkspace.id}" ng-click="setSelectedWorkspace(workspace.id)">
							<div class="header"></div>
							<div class="footer">{{workspace.title}}</div>
						</div>
					</div>
				</div>
			</div>
			<div id="adminMainPane" class="adminMainPane">
				<div class="adminMainPaneContent">
					<div style="padding:10px 20px">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#workspaceData" data-toggle="tab">Workspace</a></li>
							<li><a href="#workspaceMembers" data-toggle="tab">Members</a></li>
						</ul>
						<div class="tabbable">
							<div class="tab-content">
								<div class="tab-pane active" id="workspaceData">
									<legend>{{selectedWorkspace.title}}</legend>
									<label>Name</label>
									<input id="workspaceName" type="text" placeholder="type workspace name..." value="{{selectedWorkspace.title}}" />
									<label>Description</label>
									<textarea id="workspaceDescription" rows="3" placeholder="type workspace description...">{{selectedWorkspace.description}}</textarea>
									<label>Owner</label>
									<input id="workspaceOwner" type="text" placeholder="type owner name..." value="{{selectedWorkspace.owner.name}} {{selectedWorkspace.owner.surName}}" />
									<br />
									<button class="btn btn-inverse">Save</button>
								</div>
								<div class="tab-pane" id="workspaceMembers">
									<legend>Members</legend>
									<p><button class="btn btn-inverse" ng-click="setEditMode('WORKSPACE-ADD-MEMBER')"><i class="icon-plus icon-white"></i> Add a member</button></p>
									<div ng-class="{'hidden':attrEditMode != 'WORKSPACE-ADD-MEMBER'}" style="margin-bottom:20px;padding:20px;border:1px solid #000;">
										<legend>Add new member</legend>
										<label>First name</label>
										<input class="span4" type="text" placeholder="type first name..." ng-model="newMember.name" />
										<label>Surname</label>
										<input class="span4" type="text" placeholder="type surname..." ng-model="newMember.surName" />
										<label>e-mail</label>
										<input class="span4" type="text" placeholder="type e-mail..." ng-model="newMember.username" /><br />
										<button class="btn btn-inverse" ng-click="addMember()">Add</button>
									</div>
									
									<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Username</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="member in selectedWorkspace.members">
											<td>1</td>
											<td>{{member.name}} {{member.surName}}</td>
											<td>{{member.username}}</td>
										</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>