<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
		<div ng-controller="AdminCtrl" ng-cloak>
			<!-- application menu -->
			<sharetask-menu></sharetask-menu>
			<!-- administration -->
			<div id="adminLeftPane" class="adminLeftPane">
				<div class="adminLeftPaneContent">
					<div style="padding:5px">
						<button class="btn btn-inverse" ng-click="setEditMode('WORKSPACE-ADD')"><i class="icon-plus icon-white"></i> Add</button>
						<br /><br />
						<div class="tile" ng-repeat="workspace in workspaces" ng-class="{'active':workspace.id==selectedWorkspace.id}" ng-click="setSelectedWorkspace(workspace.id)">
							<div class="header"></div>
							<div class="footer">{{workspace.title}}</div>
						</div>
					</div>
				</div>
			</div>
			<div id="adminMainPane" class="adminMainPane">
				<div class="adminMainPaneContent">
					<div style="padding:10px 20px" ng-class="{'hidden':attrEditMode == 'WORKSPACE-ADD'}">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#workspaceData" data-toggle="tab">Workspace</a></li>
							<li><a href="#workspaceMembers" data-toggle="tab">Members</a></li>
						</ul>
						<div class="tabbable">
							<div class="tab-content">
								<!-- workspace update form -->
								<div class="tab-pane active" id="workspaceData">
									<legend>{{selectedWorkspace.title}}</legend>
									<label>Name</label>
									<input class="span5" type="text" placeholder="type workspace name..." ng-model="selectedWorkspace.title" />
									<label>Description</label>
									<textarea class="span5" rows="3" placeholder="type workspace description..." ng-model="selectedWorkspace.description"></textarea>
									<label>Owner</label>
									<div class="input-append">
										<input type="text" placeholder="type owner name..." value="{{selectedWorkspace.owner.name}} {{selectedWorkspace.owner.surName}}" disabled="disabled" />
										<button class="btn" ng-click="">Forward ownership</button>
									</div>
									<br />
									<button class="btn btn-inverse" ng-click="updateWorkspace()">Save</button>
								</div>
								<!-- workspace members -->
								<div class="tab-pane" id="workspaceMembers">
									<legend>Members</legend>
									<p><button class="btn btn-inverse" ng-click="setEditMode('WORKSPACE-INVITE-MEMBER')"><i class="icon-plus icon-white"></i> Invite a member</button></p>
									<div ng-class="{'hidden':attrEditMode != 'WORKSPACE-INVITE-MEMBER'}" style="margin-bottom:20px;padding:20px;border:1px solid #000;">
										<form name="formWorkspaceInviteMember" novalidate class="css-form">
											<legend>Invite new member</legend>
											<label>e-mail</label>
											<input class="span4" type="text" placeholder="type member's e-mail..." ng-model="newMember.username" required /><br />
											<button class="btn btn-inverse" ng-click="inviteMember()" ng-disabled="formWorkspaceInviteMember.$invalid">Invite</button>
										</form>
									</div>
									
									<table class="table table-bordered table-striped table-hover">
									<thead>
										<tr>
											<th>#</th>
											<th>Role</th>
											<th>Name</th>
											<th>Username</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Owner</td>
											<td>{{selectedWorkspace.owner.name}} {{selectedWorkspace.owner.surName}}</td>
											<td>{{selectedWorkspace.owner.username}}</td>
											<td></td>
										</tr>
										<tr ng-repeat="member in selectedWorkspace.members">
											<td>{{$index + 2}}</td>
											<td>Member</td>
											<td>{{member.name}} {{member.surName}}</td>
											<td>{{member.username}}</td>
											<!--<td><button class="btn btn-inverse" ng-click="removeMember(member.username)"><i class="icon-remove icon-white"></i></button></td>-->
											<td><button class="btn" ng-click="removeMember(member.username)">Remove</button></td>
										</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div style="padding:10px 20px" ng-class="{'hidden':attrEditMode != 'WORKSPACE-ADD'}">
						<form name="formWorkspaceAdd" novalidate class="css-form">
							<legend>Add new workspace</legend>
							<label>Title</label>
							<input class="span5" type="text" placeholder="type title..." ng-model="newWorkspace.title" required /><br />
							<label>Description</label>
							<textarea class="span5" rows="3" placeholder="type description..." ng-model="newWorkspace.description"></textarea><br />
							<button class="btn btn-inverse" ng-click="addWorkspace()" ng-disabled="formWorkspaceAdd.$invalid">Add</button>
						</form>
					</div>
				</div>
			</div>
		</div>