		<div ng-controller="AppCtrl" ng-cloak>
			<!-----------------------------------
			  -- APPLICATION MENU
			  ----------------------------------->
			<div id="app-menu">
				<div class="navbar navbar-inverse">
					<div class="navbar-inner">
						<div class="container" style="width:auto;">
							<span class="brand">ShareTa.sk</span>
							<ul class="nav">
								<li class="active"><a id="menuItemTasks" href="#/tasks"><i class="icon-tasks icon-white"></i> <span id="textTasks">Tasks</span></a></li>
							</ul>
							<ul class="nav pull-right">
								<li><a id="menuItemAdministration" href="#/admin"><i class="icon-wrench icon-white"></i> <span id="textAdministration">Administration</span></a></li>
								<li id="fat-menu" class="dropdown">
									<a id="dropUser" role="button" class="dropdown-toggle cursor-pointer" data-toggle="dropdown"><i class="icon-user icon-white"></i> <span id="userName"></span> <b class="caret"></b></a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropUser">
										<li><a role="menuitem" tabindex="-1" href="#/user"><span id="textMySettings">My settings</span></a></li>
										<li class="divider"></li>
										<li><a class="cursor-pointer" role="menuitem" tabindex="-1" ng-click="logout()"><i class="icon-off"></i> Logout</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<!-----------------------------------
			  -- WORKSPACE MENU
			  ----------------------------------->
			<div id="workspace-menu">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container" style="width:auto;">
							<span class="brand">My Workspaces</span>
							<ul id="workspaceList" class="nav">
								<li class="cursor-pointer" ng-repeat="workspace in workspaces"><a ng-click="setActiveWorkspace(workspace.id)">{{workspace.title}}</a></li>
							</ul>
							<ul class="nav pull-right">
								<li class="cursor-pointer"><a ng-click=""><i class="icon-plus icon-white"></i> Add Workspace</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-----------------------------------
			  -- PAGE TASKS
			  ----------------------------------->
			<!-- task filter panel -->
			<div class="panel-task-filter" ng-class="{'hide2':!viewPanelTaskFilter}">
				<div class="panel-task-filter-inner">
					<div class="panel-task-filter-content">
						<div class="tile" ng-class="{'active':'MY_PENDING'==filter.queue}" ng-click="setTaskFilterQueue('MY_PENDING')">
							<div class="header"></div>
							<div class="footer">Pending<span class="pull-right">{{allTasks | queueTasksCount: 'MY_PENDING'}}</span></div>
						</div>
						<div class="tile" ng-class="{'active':'MY_TODAY'==filter.queue}" ng-click="setTaskFilterQueue('MY_TODAY')">
							<div class="header"></div>
							<div class="footer">Today<span class="pull-right">{{allTasks | queueTasksCount: 'MY_TODAY'}}</span></div>
						</div>
						<div class="tile" ng-class="{'active':'MY_OVERDUE'==filter.queue}" ng-click="setTaskFilterQueue('MY_OVERDUE')">
							<div class="header"></div>
							<div class="footer">Overdue<span class="pull-right">{{allTasks | queueTasksCount: 'MY_OVERDUE'}}</span></div>
						</div>
						<div class="tile" ng-class="{'active':'MY_HIGH_PRIORITY'==filter.queue}" ng-click="setTaskFilterQueue('MY_HIGH_PRIORITY')">
							<div class="header"></div>
							<div class="footer">High priority<span class="pull-right">{{allTasks | queueTasksCount: 'MY_HIGH_PRIORITY'}}</span></div>
						</div>
						<div class="tile" ng-class="{'active':'MY_COMPLETED'==filter.queue}" ng-click="setTaskFilterQueue('MY_COMPLETED')">
							<div class="header"></div>
							<div class="footer">Completed<span class="pull-right">{{allTasks | queueTasksCount: 'MY_COMPLETED'}}</span></div>
						</div>
						<br />
						<div class="tag cursor-pointer" ng-repeat="tag in tags"><span class="text" ng-class="{'warning':tag == filter.tag}" ng-click="setTaskFilterTag(tag)">{{tag}}</span></div>
					</div>
				</div>
			</div>
			<div class="panel-task-divider" ng-class="{'left':!viewPanelTaskFilter}" ng-click="setView('PANEL-TASK-FILTER')">
				<div class="panel-task-divider-inner cursor-pointer" title="show / hide left panel"></div>
			</div>
			<!-- task list panel -->
			<div class="panel-task-list" ng-class="{'large':!viewPanelTaskFilter}">
				<div class="panel-task-list-inner">
					<!-- task list header -->
					<div class="header" ng-class="{'large':taskEditMode == 'NEW'}">
						<div class="queue-name">
							<div class="queue-name-inner">
								<div class="title pull-left cursor-pointer" ng-click="changeTaskQueue()">{{filter.queue | taskQueueName}} <small>/ {{allTasks | queueTasksCount:filter.queue}}</small></div>
								<div class="input-append pull-right">
									<input class="span2" type="text" placeholder="type search phrase..." ng-model="filter.searchString" />
									<button class="btn btn-inverse" ng-click="filterTasks()"><i class="icon-search icon-white"></i></button>
								</div>
							</div>
						</div>
						<div class="queue-controls">
							<div class="queue-controls-inner">
								<div class="btn-group">
									<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">Sort by {{filter.orderBy | orderName}} <span class="caret"></span></button>
									<ul class="dropdown-menu">
										<li ng-click="setTaskOrdering('TASK_TITLE')"><a>Name</a></li>
										<li ng-click="setTaskOrdering('TASK_DUE_DATE')"><a>Due date</a></li>
										<li ng-click="setTaskOrdering('TASK_AUTHOR')"><a>Author</a></li>
									</ul>
								</div>
								<button class="btn btn-inverse pull-right" style="margin-left:5px;" ng-click="setTaskEditMode('NEW')"><i class="icon-plus icon-white"></i></button>
								<button class="btn pull-right" ng-click="loadTasks()"><i class="icon-refresh"></i></button>
							</div>
						</div>
						<div class="new-task-simple" ng-class="{'hidden':taskEditMode != 'NEW'}">
							<div class="new-task-simple-inner">
								<div class="row-full input-append">
									<input class="span10" type="text" placeholder="type new task name..." ng-model="newTaskTitle" />
									<button class="btn btn-inverse span2" ng-click="addTask()">Add</button>
								</div>
							</div>
						</div>
					</div>
					<!-- tasks -->
					<div class="task-list" ng-class="{'small':taskEditMode == 'NEW'}">
						<div class="task-list-inner">
							<div class="navbar">
								<div class="navbar-inner thick light inline" ng-repeat="task in tasks | orderBy:orderTasks" ng-class="{'selected':task.id == selectedTask.id}" ng-click="setSelectedTask(task.id)">
									<div class="row-full">
										<div class="span8">
											<strong>{{task.title}}</strong>
										</div>
										<div class="span4" style="text-align:right;">
											<small>{{task.dueDate | date:'mediumDate'}}</small>
										</div>
									</div>
									<div class="row-full">
										<div class="span8">
											<div class="tag" ng-repeat="tag in task.tags"><span class="text" ng-class="{'selected':tag == filter.tag}">{{tag}}</span><span class="remove cursor-pointer" ng-click="removeTag(task.id, tag)" stop-event="click">x</span></div>
										</div>
										<div class="span4" style="text-align:right;">
											<i class="icon-comment"></i> {{task.comments}}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel-task-detail">
				<div class="panel-task-detail-inner">
					<div class="panel-task-detail-content">
						
						<div class="task-detail-action">
							<button class="btn btn-inverse" ng-click="setTaskEditMode('COMPLETE-TASK')">Complete</button>
							<button class="btn" ng-click="setTaskEditMode('FORWARD-TASK')">Forward</button>
							<button class="btn" ng-click="setTaskEditMode('MOVE-TASK')">Move</button>
							<button class="btn" ng-click="setTaskEditMode('DELETE-TASK')">Delete</button>
						</div>
						
						<div class="task-detail-action-confirm" ng-class="{'hidden':taskEditMode != 'COMPLETE-TASK'}">
							<p>Do you really want to complete task?</p>
							<button class="btn btn-inverse" ng-click="completeTask()">Yes</button>
							<button class="btn" ng-click="setTaskEditMode('')">No</button>
						</div>
						
						<div class="task-detail-action-confirm" ng-class="{'hidden':taskEditMode != 'FORWARD-TASK'}">
							<p>Forward task to another workspace member.</p>
							<div class="input-append">
								<input type="text" placeholder="search member..." ng-model="forwardUser" ui-keypress="{enter:'forwardTask()', esc:'setTaskEditMode(\'\')'}" focus="editing" />
								<button class="btn btn-inverse" ng-click="forwardTask(forwardUser)">Forward</button>
							</div>
						</div>
						
						<div class="task-detail-action-confirm" ng-class="{'hidden':taskEditMode != 'MOVE-TASK'}">
							<p>Move task to another workspace.</p>
							<div class="input-append">
								<input type="text" placeholder="search workspace..." ng-model="moveWorkspace" ui-keypress="{enter:'moveTask()', esc:'setTaskEditMode(\'\')'}" focus="editing" />
								<button class="btn btn-inverse" ng-click="moveTask(moveWorkspace)">Move</button>
							</div>
						</div>
						
						<div class="task-detail-action-confirm" ng-class="{'hidden':taskEditMode != 'DELETE-TASK'}">
							<p>Do you really want to delete task?</p>
							<button class="btn btn-inverse" ng-click="deleteTask()">Yes</button>
							<button class="btn" ng-click="setTaskEditMode('')">No</button>
						</div>
						
						<div style="margin-top:5px;padding:5px;background:#0079F2;color:#fff;font-weight:bold;">
							<div class="row-full">
								<div class="span8">
									{{selectedTask.createdBy.name}}
								</div>
								<div class="span4" style="text-align:right;">
									{{selectedTask.createdOn | date:'mediumDate'}}<br />
								</div>
							</div>
							<div class="row-full">
								<div class="span8">
									<div class="cursor-pointer" style="font-size:18px;" ng-class="{'hidden':taskEditMode == 'TITLE'}" ng-click="setTaskEditMode('TITLE')">{{selectedTask.title}}</div>
									<div ng-class="{'hidden':taskEditMode != 'TITLE'}">
										<div class="input-append">
											<input type="text" ng-model="selectedTask.title" ui-keypress="{enter:'updateTask(selectedTask)', esc:'setTaskEditMode(\'\')'}" focus="editing" />
											<button class="btn btn-inverse" ng-click="updateTask(selectedTask)">OK</button>
										</div>
									</div>
								</div>
								<div class="span4" style="text-align:right;">
									<div class="tag cursor-pointer"><span class="text" ng-class="{'hidden':taskEditMode == 'PRIORITY','priority-low':selectedTask.priority == 'LOW','priority-medium':selectedTask.priority == 'MEDIUM','priority-high':selectedTask.priority == 'HIGH'}" ng-click="changeTaskPriority()"><strong>{{selectedTask.priority}}</strong></span></div>
								</div>
							</div>
						</div>
						
						<div style="margin-top:5px;">
							<div class="tag" ng-repeat="tag in selectedTask.tags"><span class="text">{{tag}}</span><span class="remove cursor-pointer" ng-click="removeTag(selectedTask.id, tag)">x</span></div>
							<span class="tag cursor-pointer" ng-click="setTaskEditMode('ADD-TAG')"><span class="remove cursor-pointer"><i class="icon-plus icon-white"></i></span></span>
							<div ng-class="{'hidden':taskEditMode != 'ADD-TAG'}">
								<div class="input-append">
									<input type="text" placeholder="type new label name..." ng-model="newTag" ui-keypress="{enter:'addTaskTag()', esc:'setTaskEditMode(\'\')'}" focus="editing" />
									<button class="btn btn-inverse" ng-click="addTaskTag()">OK</button>
								</div>
							</div>
							
							<div id="taskDetailAddLabelForm" class="hidden"><input id="taskDetailAddLabelInput" class="span3" type="text" placeholder="" /> <a href="#" id="taskDetailAddLabelClose"><i class="icon-remove"></i></a></div>
						</div>
						
						<div style="margin-top:5px;padding:5px;background:#fff;border:1px solid #ddd;">
							<div class="row-full">
								<div class="cursor-pointer" ng-class="{'hidden':taskEditMode == 'DESCRIPTION'}" ng-click="setTaskEditMode('DESCRIPTION')">{{selectedTask.description}}</div>
								<div ng-class="{'hidden':taskEditMode != 'DESCRIPTION'}">
									<textarea class="span12" style="height:80px;margin-bottom:1px;" ng-model="selectedTask.description" ui-keypress="{esc:'setTaskEditMode(\'\')'}">{{selectedTask.description}}</textarea><br />
									<button class="btn btn-inverse" ng-click="updateTask(selectedTask)">Save changes</button>
								</div>
							</div>
						</div>
						
						<div style="margin-top:5px;padding:5px;border:1px solid #ddd;">
							tady budou komentáře
						</div>
					</div>
				</div>
			</div>
		</div>