<!--
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
-->
		<!-- user settings -->
		<div ng-controller="UserCtrl">
			<!-- application menu -->
			<sharetask-menu></sharetask-menu>
			<!-- user profile -->
			<div class="panel-full">
				<div class="panel-full-inside">
					<div style="padding:10px 20px;">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#userProfile" data-toggle="tab">Profile</a></li>
							<li><a href="#userSettings" data-toggle="tab">Settings</a></li>
						</ul>
						<div class="tabbable">
							<div class="tab-content">
								<!-- user profile update form -->
								<div class="tab-pane active" id="userProfile">
									<form name="formUserUpdate" novalidate class="css-form">
										<legend>User profile</legend>
										<div class="alert alert-success" ng-class="{'hidden':loggedUser.result == -1 || loggedUser.result == 0}">
											<a class="close" ng-click="loggedUser.result = 0">&times;</a>
											<strong>Success</strong> User profile was successfully updated.
										</div>
										<div class="alert alert-error" ng-class="{'hidden':loggedUser.result == 1 || loggedUser.result == 0}">
											<a class="close" ng-click="loggedUser.result = 0">&times;</a>
											<strong>Error</strong> Error updating user's profile.
										</div>
										<label>First name</label>
										<input class="span5" type="text" placeholder="type first name..." ng-model="loggedUser.name" required /><br />
										<label>Last name</label>
										<input class="span5" type="text" placeholder="type last name..." ng-model="loggedUser.surName" required /><br />
										<label>e-mail</label>
										<input class="span5" type="text" placeholder="type e-mail address..." ng-model="loggedUser.username" required /><br />
										<br />
										<label>New password</label>
										<input class="span5" type="text" placeholder="type new password..." ng-model="loggedUser.newPassword1" /><br />
										<label>New password (check)</label>
										<input class="span5" type="text" placeholder="retype new password..." ng-model="loggedUser.newPassword2" /><br />
										<button class="btn btn-inverse" ng-click="update()" ng-disabled="formUserUpdate.$invalid" ng-class="{'disabled':loggedUser.processing}">Save<span ng-show="loggedUser.processing"> processing...</span></button>
									</form>
								</div>
								<!-- user settings -->
								<div class="tab-pane" id="userSettings">
									<form name="formUserSettings" novalidate class="css-form">
										<legend>User settings</legend>
										No settings available yet.
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>